body{
    background-color : lightcyan
}
.header {
    background-color: rgb(218, 139, 191);
    padding: 30px 40px;
    color: white;
    text-align: center;
  }
  input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
  .addButton{
      color:black;
  }
  ul li {
    position: relative;
    padding: 12px 8px 12px 40px;
    background-color: #eee;
    font-size: 18px;
  }
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  .close:hover {
    background-color:rgb(104, 230, 230);
    color: white;
  }
  